header{
    width: 100%;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

i{
    color: $white-normal;
}

.header-icons{
    display: flex;
    gap: 0.90rem;
}

.header-icons a:hover i{
    animation: translateY 0.8s infinite alternate;
    color: $red-light;
}

//animacao dos icones
@keyframes translateY{
    from{
        transform: translateY(0) scale(1);
    }
    to{
        transform: translateY(-8px) scale(1);
    }
}

.header-button{
    border: 1px solid $white-normal;
    padding: 0.50rem 2rem;
    color: $white-normal;
    background-color: transparent;
    transition: background-color 0.8s;
}

.header-button:hover{
    border: 1px solid $red-light;
    background-color: $red-light;
}

.header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.90rem;
}

@media screen and (max-width: 764px){
    .header-content{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-content i{
        margin-top: 1rem;
        font-size: 1.6rem;
    }



    .header-logo img{
        width: 10rem;
        margin-top: 5rem;
    }

    .header-button{
        display: none;
    }
}